/********** Template CSS **********/
:root {


    /* theme 2 */
    --primary: #266ae9dc;
    /* --secondary: #e98e26; */
    /* --secondary:#191970; */
    /* --secondary: 	#000080; */
    --secondary:#8B4513;
    --light: #ffffff;
    /* --blue: #d1d9e996;  */
    --blue:var(--light);
}
.w-330px {
  width: 330px;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.color-secondary{
    /* background-color:#DEB887; */
    /* background-color: #ADD8E6; */
    background-color: var(--primary);
}
.color-semi-secondary{
    background-color: #ADD8E6;
}
.icon-size{
    height: 50px !important;
    width: 50px !important;
    background-color: #f44336;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    
    margin-left: 250px;
    min-height: 100vh;
    background: var(--blue);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 6px 0px;
    color: var(--light);
    font-weight: 400;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.navbar .nav-item .notification {
    position: absolute;
    top: 15px;
    border: 1px solid #FFF;
    right: -5px;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    display: block;
}


.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--blue);
    border-color: var(--primary);

}

/* .sidebar .navbar .navbar-nav .nav-link i {
    align-items: center;
    justify-content: center;
    
} */
 .sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 40px; */
    
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    /* background: var(--blue);*/
    
    
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;


}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--blue);
}
.content .navbar {
    background-color: var(--secondary);

}
.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;

}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);

}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* background: var(--blue); */
    border-radius: 40px;
}
.content .navbar .dropdown-menu {
    background: var(--secondary);
}
.content .navbar .dropdown-item {
    color: var(--light);
    text-align: center;
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--blue);
    color:var(--primary) ;
    border-radius: 45px;
    text-align: center;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;

}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

/* dark mode */
.dark-mode {
    /* background-color: #121212 !important;
    color: #e0e0e0 !important; */
        /* theme 1 */
    --primary: #266ae9dc;
    /* --secondary: #ffffff; */
    --secondary: #191C24;
    /* --light: #6C7293; */
    --light: #ffffff;
    --blue: #000000;
}

/* .dark-mode .navbar {
    background-color: #1f1f1f !important;
} */

.dark-mode .card-body {
    background-color: var(--secondary) !important;
    color: #fff !important;
}

.header {
    background: var(--primary);
    height: 40px;
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin: 2% 75% 0% 2%;
    border-radius: 220px 0px 0px 0px;
    gap: 5px;
    min-width: 34%;
    color: #ffffff;
}


@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--blue);
    border-color: var(--primary);
}