body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-image: url(./asset/Parcpc7.jpeg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }

        .container {
            padding-top: 15px;
            display: flex;
            gap: 70px;
            justify-content: center;
            flex-wrap: wrap;
        }

        .cv {
            background: azure;
            width: 500px;
            padding-left: 20px;
            /* padding: 10px; */
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        }

        .header {
            text-align: center;
            border-bottom: 2px solid #ddd;
            padding-top: 5px;
            margin-bottom: 15px;
        }

        .header h2 {
            margin: 0;
        }

        h3 {
            margin-top: 20px;
            color: #333;
            border-left: 4px solid #4a90e2;
            padding-left: 8px;
        }

        ul {
            padding-left: 20px;
        }